In [ ]:
result = [i for i in range(10)]
print(result,type(result))

In [ ]:
result2 = ['hello' for i in range(10)]
print(result2,type(result2))

In [ ]:
result3 = [i for i in range(10) if i %2 ==0]
print(result3,type(result3))

In [ ]:
result4 = [i if i%2==0 else '-' for i in range(10)]
print(result4,type(result4))

In [ ]:
w1 = 'hello'
w2 = 'world'
result5 = [i+j for i in w1 for j in w2]
print(result5)

In [ ]:
w12 = 'hello'
w22 = 'world'
result6 = [i+j for i in w12 for j in w22 if not(i==j)]
print(result6)

In [ ]:
w12 = 'hello'
w22 = 'world'
result6 = [i+j if not(i==j) else 'X' for i in w12 for j in w22 ]
print(result6)

In [ ]:
ree = ['*'*i for i in range(1,6)]
for i in ree:
    print(i)

In [ ]:
ree = [' '*(i-1) for i in range(5,0,-1)]
ree1 = ['*'*i for i in range(1,6)]
for i in range(5):
    print(ree[i],ree1[i])

In [ ]:
r = [[j+i for j in w1]for i in w2]
print(r)

In [6]:
def sclar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * value)
    return result

iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    sclar_vector_product(scalar, vector)

In [5]:
iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    [scalar * value for value in range(iteration_max)]

In [7]:
for iv in enumerate(['t','tt','ttt']):
    print(iv)

(0, 't')
(1, 'tt')
(2, 'ttt')

In [8]:
{i:j for i,j in enumerate('TEAMLAB is an academic institute located in south korea'.split())}

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institute',
 5: 'located',
 6: 'in',
 7: 'south',
 8: 'korea'}

In [11]:
a1 = [1,2,3]
b1 = [4,5,6,7]

In [12]:
for ab in zip(a1,b1):
    print(ab)

(1, 4)
(2, 5)
(3, 6)

In [14]:
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)
print([sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))])

(1, 10, 100) (2, 20, 200) (3, 30, 300)
[111, 222, 333]

In [16]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for i,(a,b) in enumerate(zip(alist,blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3