자료 구조

In [1]:
word = input('input a word')
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())

print(result)
print(result[::-1])

['s', 'a', 'v', 'e', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'l', 'd']
['d', 'l', 'r', 'o', 'w', ' ', 'e', 'h', 't', ' ', 'e', 'v', 'a', 's']
['s', 'a', 'v', 'e', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'l', 'd']

In [17]:
t = (1,2,3,4)
print(type(t))
print(t+t,t*2)
print(len(t))
print(t[0])
# t[3] = 5 error
# del t[3] error

<class 'tuple'>
(1, 2, 3, 4, 1, 2, 3, 4) (1, 2, 3, 4, 1, 2, 3, 4)
4
1

In [12]:
t1 = (1,)
print(t1,type(t1))
print(len(t1))

(1,) <class 'tuple'>
1

In [18]:
list1 = list(t)
list1.append(10)
print(list1)

tuple1 = tuple(list1)
print(tuple1)
print(t)

[1, 2, 3, 4, 10]
(1, 2, 3, 4, 10)
(1, 2, 3, 4)

In [22]:
set1 = set([1,2,3,4,5,6,7,8,9,1,3,4,5,2,7,8])
print(set1)
set2 ={1,2,3,1,2,3,'a'}
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'a', 1, 2, 3}

In [25]:
set2.add(10)
print(set2)
set2.discard(1)
print(set2)
set2.clear()
print(set2)

{2, 'a', 3, 10}
{2, 'a', 3, 10}
set()

In [31]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

print(s1|s2)
print(s1&s2)
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [33]:
list3 = [1,2,3,3,4]
s3 = set(list3)
list4 = list(s3)
print(list4)

[1, 2, 3, 4]

In [42]:
d = {}
d = dict()
country_code ={'america':1,'korea':82,'china':86,'japan':81}
print(country_code)

print(country_code.keys())
country_code['German']=49
print(country_code.values())
print(country_code.items())

for k,v in country_code.items():
    print("country :",k,'code :',v)
print('korea' in country_code.keys())
print(82 in country_code.values())

del(country_code['china'])
print(country_code)
country_code.clear()
print(country_code)

{'america': 1, 'korea': 82, 'china': 86, 'japan': 81}
dict_keys(['america', 'korea', 'china', 'japan'])
dict_values([1, 82, 86, 81, 49])
dict_items([('america', 1), ('korea', 82), ('china', 86), ('japan', 81), ('German', 49)])
country : america code : 1
country : korea code : 82
country : china code : 86
country : japan code : 81
country : German code : 49
True
True
{'america': 1, 'korea': 82, 'japan': 81, 'German': 49}
{}

In [44]:
ss_closing_price = [70300,70800,72200,72500,72700]
print(type(ss_closing_price))

<class 'list'>

In [46]:
print(max(ss_closing_price))

72700

In [47]:
print(min(ss_closing_price))

70300

In [48]:
print(max(ss_closing_price)-min(ss_closing_price))

2400

In [49]:
print(ss_closing_price[2])

72200

In [51]:
ss_closing_price2={'11/13':70300,'11/14':70800,'11/15':72200,'11/16':72500,'11/17':72700}
print(ss_closing_price2)
print(type(ss_closing_price2))

{'11/13': 70300, '11/14': 70800, '11/15': 72200, '11/16': 72500, '11/17': 72700}
<class 'dict'>

In [52]:
print(ss_closing_price2['11/15'])

72200

In [53]:
def add_number(original_list):
    original_list += [1]
mylist = [1, 2, 3, 4]
add_number(mylist)
print(set(mylist))

{1, 2, 3, 4}

In [55]:
def week_seven(sentence1):
    cells = set(sentence1.replace(' ','').lower())
    return cells
sentence_a = "The quick brown fox jumps over the lazy dog"
sentence_b = "I love you" 
print(len(week_seven(sentence_a)-week_seven(sentence_b)))

26

In [56]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

def quiz_1(data_1, data_2):
    result = []
    for i in (tuple_1 + tuple_2):
        result.append(i)
    return (result)

print(quiz_1(tuple_1, tuple_2))

[1, 2, 3, 4, 5, 6]

In [57]:
dict_1 = {2:1, 4:2, 6:3, 8:4, 10:6}

dict_keys = list(dict_1.keys())
dict_values = list(dict_1.values())

dict_2 = dict()

for i in range(len(dict_keys)):
    dict_2[dict_values[i]] = dict_keys[i]

print(dict_2[2])

4

In [58]:
box = [1,'red',3,(),[ ],None]
print(len(box))

6

In [60]:
data_1 = {'one' : (1,2,3,4,5,6), 'two' : [1,2,3,4,5,6], 'three' : {'four' : 4, 'five' : 5}}

for k in ['one','two','three']:
    try:
        print(data_1[k][:1])
    except KeyError:
        print("error")

for k in ['one', 'two','three']:
    try:
        data_1[k][-1] = "a"
        print(data_1[k][-1])
    except TypeError :
        print("error")

(1,)
[1]
error
error
a
a

In [61]:
data_1

{'one': (1, 2, 3, 4, 5, 6),
 'two': [1, 2, 3, 4, 5, 'a'],
 'three': {'four': 4, 'five': 5, -1: 'a'}}

In [63]:
a = 0
midterm_set = set([1, 5, 7, 4, 3, 2, 1, 1, 2, 3])
for i in midterm_set:
    a = a+i

print(a)

22